.overview_container{
    max-width: 70vw;
}

.overview_bold{
    font-weight: bold;
    margin-right: .2rem;
}

.overview_mono{
    font-family: monospace;
    font-size: .9rem;
    background-color: var(--color-xxlight-gray);
    padding: 0 .3rem;
    border-radius: 3px;
}

.overview_container ul li{
    margin-bottom: .8rem;
}
