
.accordion {
  overflow: hidden;
  margin: 1rem 0;
}

.accordion:focus-within {
  position: relative;
  z-index: 1;
}

.accordion__header {
  display: flex;
  align-items: center;
  color: var(--color-dark-gray);
  background-color: var(--color-off-white);
  border-radius: 5px;
  padding: 0 1rem;
}

h3.accordion__header {
  margin: unset;
}

.accordion__header:hover {
  background-color: var(--color-sensi-green);
  color: var(--color-off-white);
}

.accordion__header__trigger {
  flex-grow: 1;
  font-family: inherit;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 15px;
  line-height: 1;
}

.accordion__header__chevron {
  fill: var(--color-sensi-green);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  height: 20px;
}

.accordion__header__trigger:hover > .accordion__header__chevron {
  fill: var(--color-off-white);
}

.accordion__header__trigger[data-state="open"] > .accordion__header__chevron {
  transform: rotate(-90deg);
}

.accordion__content {
  overflow: hidden;
  font-size: 15px;
  color: var(--color-black);
  background-color: var(--color-xxlight-gray);
  margin: 0.2rem 1rem;
  padding: 0.5rem 0;

  border-top: #66cc33;
  border-top-style: solid;
}

.accordion__content[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
  height: 10rem;
}

.accordion__content[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: 10rem;
  }
}

@keyframes slideUp {
  from {
    height: 10rem;
  }
  to {
    height: 0;
  }
}
