.ble_info__container {
  max-width: 70vw;
}

.ble_info__tabs_root {
	display: flex;
	flex-direction: column;
	width: 100%;
    margin-bottom: 3rem;
}

.ble_info__tabs_list {
	flex-shrink: 0;
	display: flex;
}

.ble_info__tabs_trigger {
	font-family: inherit;
	background-color: white;
	padding: 0 20px;
	height: 45px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
    gap: 0.5rem;
	font-size: 15px;
	line-height: 1;
	color: var(--color-sensi-green);
	user-select: none;
}
.ble_info__tabs_trigger:first-child {
	border-top-left-radius: 6px;
}
.ble_info__tabs_trigger:last-child {
	border-top-right-radius: 6px;
}
.ble_info__tabs_trigger:hover {
	color: var(--color-sensi-green-80);
}
.ble_info__tabs_trigger[data-state="active"] {
	color: var(--color-sensi-green);
	box-shadow:
		inset 0 -2px 0 0 currentColor,
		0 2px 0 0 currentColor;
    font-weight: bold;
}

.ble_info__tabs_content {
	flex-grow: 1;
	padding: 20px;
	background-color: white;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	outline: none;
}

