
.services__filter_area {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  gap: 2rem;
}

.services__filter_select {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.services__filter_select label {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
