
.services__filter_area {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  gap: 2rem;
}

.services__filter_select {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.services__filter_select label {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.filter__select_trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  color: var(--color-dark-gray);
  background-color: white;
  box-shadow: 1px 2px 5px var(--color-gray);
}

.filter__select_trigger:hover {
  background-color: var(--color-sensi-green-80);
  color: var(--color-off-white);
}

.filter__select_trigger:focus {
  box-shadow: 1px 2px 5px var(--color-sensi-dark-green);
}

.filter__select_trigger[data-placeholder] {
  color: var(--color-dark-gray);
}

.filter__select_icon {
  justify-self: end;
  color: var(--color-dark-gray);
}

.filter__select_content {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.filter__select_viewport {
  padding: 5px;
}

.filter__select_item {
  font-size: 13px;
  line-height: 1;
  color: var(--color-sensi-dark-green);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}

.filter__select_item[data-disabled] {
  color: var(--color-dark-gray);
  pointer-events: none;
}

.filter__select_item[data-highlighted] {
  outline: none;
  background-color: var(--color-sensi-green-80);
  color: var(--color-off-white);
}

.filter__select_item_indicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.filter__select_scroll_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--color-sensi-green-80);
  cursor: default;
}
