:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --spacing-xs: 3px;
    --spacing-sm: 5px;
    --spacing-md: 10px;
}

/* reset */
button,
p {
    all: unset;
}


body {
    margin: 0;
    background-color: var(--color-off-white);
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body {
    flex-grow: 1;
}

#footer {
}
