.card__content {
    padding: 1rem;
}

.card__title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 0 0.2rem 0;
    color: var(--color-dark-gray);
}

.card__text {
    font-size: 1rem;
    color: var(--color-light-gray);
    line-height: 1.5;
}
