.sample_header__left, .sample_header__right {
    display: flex;
    gap: 1rem;
    flex: 1 1 0;
}

.sample_header__card {
    flex: 1 1 0;
}

.sample_header__left__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.sample_header__signal_icons {
    display: flex;
    flex-direction: column;
}

.sample_header__signal_icon {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}
