.service_info_header__left, .service_info_header__right {
    display: flex;
    gap: 1rem;
    flex: 1 1 0;
}

.service_info_header__left {
    flex-grow: 0.5;
}

.service_info_header__card {
    flex: 1 1 0;

    &:has(.card__type) {
        flex-grow: 0.25;
    }
}

.service_info_header__left__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.service_info_header__card > .card__type {
    & .custom {
        color: var(--color-orange);
    }

    & .public {
        color: var(--color-sensi-green);
    }
}
