.service_info_header__left, .service_info_header__right {
    display: flex;
    gap: 1rem;
    flex: 1 1 0;
}

.service_info_header__left {
    flex-grow: 0.3;
}

.service_info_header__right {
    justify-content: flex-end;
}

.service_info_header__card {

    &:has(.card__uuid) {
        flex-basis: 35%;
    }

    &:has(.card__characteristics), &:has(.card__used_by) {
        flex-basis: 25%;
    }

    &:has(.card__type) {
        flex-basis: 10%;
    }
}

.service_info_header__left__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.service_info_header__card > .card__type {
    & .custom {
        color: var(--color-orange);
    }

    & .public {
        color: var(--color-sensi-green);
    }
}
