.service_info_header__left, .service_info_header__right {
    display: flex;
    flex: 1 1 0;
}

.service_info_header__left {
    display: flex;
    flex-direction: column;
    flex-grow: 0.3;
    padding: 1rem;
}

.service_info_header__right {
    justify-content: flex-end;
    gap: 0.5rem;
}

.service_info_header__card {
    &:has(.card__characteristics) {
        flex-basis: 25%;
    }

    &:has(.card__used_by) {
        flex-basis: 20%;
    }
}

.service_info_header__left__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.service_info_header__left__uuid {
    font-size: 0.75rem;
    color: var(--color-light-gray);
}
